.showtask-container {
  width: 100%;

  text-align: center;
  /* background-color: green; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vw 0;
}
.showtask-container h1 {
  font-family: "Montserrat", sans-serif;
  /* background-color: rgba(16, 15, 15, 0.493); */
  width: 100%;

  font-size: 4vw;
}
.showtask-container-item {
  margin-top: 5vw;
}
.add-task {
  position: fixed;
  bottom: 20vw;
  right: 5vw;

  margin-bottom: 5vw;
}

.add-task img {
  width: 2vw;
  height: 2vw;

  object-fit: cover;
}
