@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: Microbrew;
  src: url("../public/assets/Microbrew-Soft-One-Combined.otf");
}
* {
  font-family: Genos, sans-serif;
  padding: 0;
  margin: 0;
}
